* {box-sizing: border-box;}

body {
    padding: 0rem;
    margin: 0rem;
}

.content { 
    position: absolute;
    inset: 0rem; 
    background-color: hsl(212, 45%, 89%);
    height: auto;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: none;
    border-radius: 0.75rem;
    max-width: 16.5rem;
    height: 26.25rem;
    background-color: hsl(0, 0%, 100%);
    padding: 0.625rem;    
}

.im {
    border: none;
    border-radius: 0.875rem;
    max-width: 15rem;
    height: auto;
    display: block;
    margin-inline: auto;
    padding: 0rem;
}

h1 {
    font: 700 1.125rem Outfit, Arial, sans-serif;
    padding: 0.625rem 0rem 0rem;
    text-align: center;
}

.para {
    font: 400 0.9375rem Outfit, Arial, sans-serif;
    padding: 0rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
}